@import "../../../../assets/scss/toco-theme";
@import "../../../../assets/scss/variables";

.mat-tab-inner {
  margin-top: 50px;
}

.mat-tab-quote {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px dashed gray;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $main-gray-bg;
}
